body {

				margin: 0px;
				overflow: hidden;

			}

#nav {
  position: absolute;
  min-width: 100%;
  /* border: 1px solid blue; */
}

#nav > #brand {

        /*    border: 1px solid red; */

        position: relative;
        color: #232323;
        text-align: left;
        left: 5%;
        max-width: 50vh;
        font-family: 'Amaranth';
        font-size: 3.7em;
        z-index: 1;

}

/** Loader Bar : Can define elements later **/
#progress {

  width: 200px;
  height: 20px;
  background: white;
  border: 2px solid #000;
}

div > div {
  width: 200px;
  height: 20px;
  background: blue;
  border: none;
}
