#nav {
  position: absolute;
//border: 1px solid blue;
  z-index: 5;
  width: 100%;

  //min-width: 100%;


  a {

      text-decoration: none;

    #brand {

          //border: 1px solid red;
            position: relative;
            color: #494c51;
            font-family: 'Amaranth';
            font-size: 3.7em;
            z-index: 1;
            text-align: center;
            text-shadow: 0.5px 0.5px #494c51;


    }

    #brand:hover {
      color: #383a3d;

    }

  }
}
